/* on remet tous a zero */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color:#040813;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.6;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    color:aliceblue ;
    text-decoration: none;
    padding: 4px 10px; 
    display: inline-block; 
    text-transform: uppercase;/* force tous à être en majuscule*/
    font-size: 0.9rem;/* taille du texte*/
}
nav a:hover{
    color: #1d43ff;
    background-color: aliceblue ;
    
}
header {
    background-color:rgba(0, 0, 0, 0.5);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}
.page-accueil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
    height: 90vh;
    text-align: center;
    
}
.hero-image{
    background-image: url(../images/earth1.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}
.btn-decouvrir{
    color: white;
    display: inline-block;
    background-color: #075366;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
   
}